body {
    background: white;
    margin: 0;
    padding: 0;
    direction: rtl;
}
* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
//consts
$main-font: 'IRANYekan';

$main-width: 1000px;

$main-color: #4149D8;

// mixins
@mixin flex($direction,$wrap,$justify-content,$align-items,$align-content) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify-content;
    align-items: $align-items;
    align-content: $align-content;
}
@mixin text($xd-font-size,$font-family,$color) {
    font-size: $xd-font-size - 7px;
    font-family: $font-family;
    color: $color;
}
header {
    width: 100%;
    position: fixed;
    z-index: 1000000;
    background: #fff;
    box-shadow: 0px 3px 13px rgba(170, 172, 211, 0.4);
    @include flex(row,nowrap,center,center,stretch);
    .logo {
        width: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu {
        width: 40%;
        a {
            @include text(20px,$main-font,#3b3b3b);
            font-weight: 500;
            transition: ease all .2s;
            &:hover {
                color: $main-color;
            }
        }
    }
    .l-menu {
        @include flex(row,nowrap,flex-start,baseline,center);
        a {
            margin-right: 45px;
        }
    }
    .r-menu {
        @include flex(row,nowrap,flex-end,baseline,center);
        a {
            margin-left: 45px;
        }
    }
    @media only screen and (max-width: $main-width) {
        .l-menu,.r-menu {
            display: none;
        }
    }
}
.intro {
    width: 100%;
    height: 100vh;
    padding-top: 61px;
    background-image: url(img/map.png);
    background-size: cover;
    .white-overlay {
        background-image: linear-gradient(180deg, rgba(255,255,255,0.00) 0%, #FFFFFF 70%);
        height: 100%;
        width: 100%;
        @include flex(column,nowrap,center,center,stretch);
        .read-more {
            padding: 10px 14px;
            border-radius: 30px;
            border: 1px solid #bcc8d7;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            @include flex(row,nowrap,center,center,stretch);
            transition: ease all .2s;
            margin-bottom: 40px;
            transform: scale(1);
            img {
                height: 6px;
                margin-left:12px;
            }
            .title {
                @include text(17, $main-font,#7A8CA2);
                font-weight: 300;
                text-align: center;
                padding-left: 3px;
                line-height: 10px;
                padding-top: 7px;
                padding-bottom: 7px;
            }
            &:hover {
                background: change-color($color: $main-color,$alpha: .05);
            }
            &:active {
                transform: scale(.97);
            }
        }
        .inner-intro {
            width: $main-width;
            height: 90%;
            @include flex(row,nowrap,space-between,center,stretch);
            .mobile {
                height: 85% !important;
            }
            .introduction {
                h1 {
                    @include text(43,$main-font,$main-color);
                    font-weight: 800;
                    margin: 0;
                }
                h2 {
                    @include text(23,$main-font,#3B3B3B);
                    font-weight: 500;
                    margin: 0;
                }
                h5 {
                    @include text(22,$main-font,rgba(59, 59, 59, 0.61));
                    font-weight: 300;
                    margin: 0;
                    padding-left:40px;
                    padding-top: 22px;
                }
                .dl-btns {
                    @include flex(row,nowrap,flex-start,flex-start,flex-start);
                    padding-top:30px;
                    .dl-btn {
                        padding: 7px;
                        border-radius: 40px;
                        background: black;
                        box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
                        transform: scale(1);
                        transition: all 0.3s cubic-bezier(.17,.89,.77,1.36);
                        @include flex(row,nowrap,space-between,center,center);
                        .icon-box {
                            width: 25px;
                            height: 25px;
                            border-radius: 40px;
                            background: rgba(255,255,255,.3);
                            @include flex(row,nowrap,center,center,center);
                            img {
                                width:13px;
                            }
                        }
                        .title {
                            @include text(18,$main-font,white);
                            font-weight: 500;
                            padding-left: 15px;
                            padding-right: 5px;
                        }
                        &:last-child {
                            margin-right: 15px;
                        }
                        &:hover {
                            transform: scale(1.08);
                            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: $main-width) {
            .inner-intro {
                width: 100%; 
                @include flex(column,nowrap,flex-start,center,stretch);
                .mobile {
                    width: 60%;
                    margin-top: 50px;
                    height: auto !important;
                    display: none;
                }
                .introduction {
                    @include flex(column,nowrap,center,center,stretch);
                    h5 {
                        text-align: center;
                        padding-left:10px;
                        padding-right:10px;
                    }
                    .dl-btns {
                        @include flex(column,nowrap,center,center,stretch);
                        .dl-btn {
                            margin-right: 0;
                            margin-top: 10px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }  
        }
    }
}
@media only screen and (max-width: $main-width) {
    .intro {
        height: auto;
        padding-top: 100px;
        .white-overlay {
            .read-more {
                margin-top: 50px;
            }
        }
    }
}
.app-steps {
    width: $main-width + 100px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    @include flex(row,nowrap,space-around,center,center);
    .app-step {
        width: 30%;
        @include flex(column,nowrap,center,center,center);
        .num {
            @include text(20, $main-font, $main-color);
            font-weight: 800;
            text-align: center;
            @include flex(row,nowrap,center,center,center);
            width: 40px;
            height: 40px;
            border-radius: 23px;
            background: #fff;
            box-shadow: 0px 5px 11px rgba(65, 73, 216, 0.17);
            transition: ease all .25s;
        }
        img {
            width: 100%;
            height: auto;
        }
        .title {
            text-align: center;
            @include text(24, $main-font, $main-color);
            font-weight: 800;
            padding-top: 10px;
        }
        .desc {
            text-align: center;
            padding-left:20px;
            padding-right:20px;
            padding-top: 17px;
            @include text(19, $main-font, change-color($color: #3b3b3b,$alpha: .61));
            font-weight: 500;
        }
    }
}
@media only screen and (max-width: $main-width) {
    .app-steps {
        width: 100%;
        @include flex(column,nowrap,space-around,center,center);
        .app-step {
            width: 90%;
            margin-top: 40px;
            margin-bottom: 40px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}
.benefits {
    width: $main-width;
    margin-left: auto;
    margin-right: auto;
    padding-top: 130px;
    padding-bottom: 30px;
    .title-box {
        margin-left: auto;
        margin-right: auto;
        @include flex(row, nowrap, center, center, center);
        img {
            width: 20px;
        }
        .title {
            padding-right: 10px;
            @include text(24, $main-font, #3B3B3B);
            font-weight: 800;
        }
    }
    .items {
        width: 100%;
        @include flex(row, nowrap, space-between, center, center);
        padding-top: 80px;
        .spacer {
            width: 7px;
            height: 7px;
            border-radius: 10px;
            background: rgba(0, 0, 0, 0.1);
        }
        .benefit {
            position: relative;
            width: 20%;
            height: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: none;
            @include flex(row, nowrap, center, center, center);
            img {
                height: 80%;
                filter: blur(0px);
                -webkit-filter: blur(0px);
                opacity: 1;
                transition: ease all .2s .2s;
            }
            .title {
                position: absolute;
                top: 40%;
                width: 100%;
                text-align: center;
                @include text(20, $main-font, #3B3B3B);
                font-weight: 500;
                opacity: 0;
                transition: ease all .2s .2s;
            }
            &:hover {
                img {
                    filter: blur(8px);
                    -webkit-filter: blur(8px);
                    opacity: .5;
                    transition: ease all .2s;
                }
                .title {
                    opacity: 1;
                    transition: ease all .3s .2s;
                }
            }
        }
    }
}
@media only screen and (max-width: $main-width) {
    .benefits {
        width: 100%;
        .items { 
            @include flex(column, nowrap, flex-start, center, center);
            .benefit {
                padding-bottom: 80px;
                width: 100%;
                .title {
                    opacity: 1;
                    padding-top: 40px;
                }
            }
        }
    }
}
.subscribe { //TODO: add this
    width: 100%;
    background: $main-color;
    margin-top: 150px;
}

.inner {
    width: $main-width;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 100%;
    padding-top: 28px;
    padding-bottom: 28px;
    background: black;
    .inner {
        width: $main-width;
        margin-left: auto;
        margin-right: auto;
        @include flex(row,nowrap,space-between,center,center);
    }
    .logo-box {
        width: 30%;
        @include flex(row,nowrap,center,center,center);
        .logo {
            height: 40px;
        }   
    }
    .social {
        width: 35%;
        @include flex(row,nowrap,flex-end,center,center);
        a {
            padding-right: 15px;
            transition: ease all .25s;
            img {
                height: 25px;
            }
            &:first-child {
                padding-right: 0px;
            }
            &:hover {
                opacity: .6;
            }
        }
    }
    .cr {
        width: 35%;
        text-align: left;
        direction: ltr;
        @include text(18,$main-font,rgba(255,255,255,.8));
        font-weight: 300;
    }
}
@media only screen and (max-width: $main-width) { 
    footer {
        .social,.logo-box,.cr {
            width: 100%;
            @include flex(row,nowrap,center,center,center);
            padding-top: 10px;
        }
    }
    footer .inner,.inner {
        @include flex(column,nowrap,flex-start,center,center);
        width: 100%;
    }
}