body {
  background: white;
  margin: 0;
  padding: 0;
  direction: rtl;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

header {
  width: 100%;
  position: fixed;
  z-index: 1000000;
  background: #fff;
  -webkit-box-shadow: 0px 3px 13px rgba(170, 172, 211, 0.4);
          box-shadow: 0px 3px 13px rgba(170, 172, 211, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

header .logo {
  width: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

header .menu {
  width: 40%;
}

header .menu a {
  font-size: 13px;
  font-family: "IRANYekan";
  color: #3b3b3b;
  font-weight: 500;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

header .menu a:hover {
  color: #4149D8;
}

header .l-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .l-menu a {
  margin-right: 45px;
}

header .r-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .r-menu a {
  margin-left: 45px;
}

@media only screen and (max-width: 1000px) {
  header .l-menu, header .r-menu {
    display: none;
  }
}

.intro {
  width: 100%;
  height: 100vh;
  padding-top: 61px;
  background-image: url(img/map.png);
  background-size: cover;
}

.intro .white-overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(70%, #FFFFFF));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 70%);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.intro .white-overlay .read-more {
  padding: 10px 14px;
  border-radius: 30px;
  border: 1px solid #bcc8d7;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
  margin-bottom: 40px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.intro .white-overlay .read-more img {
  height: 6px;
  margin-left: 12px;
}

.intro .white-overlay .read-more .title {
  font-size: 10px;
  font-family: "IRANYekan";
  color: #7A8CA2;
  font-weight: 300;
  text-align: center;
  padding-left: 3px;
  line-height: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.intro .white-overlay .read-more:hover {
  background: rgba(65, 73, 216, 0.05);
}

.intro .white-overlay .read-more:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.intro .white-overlay .inner-intro {
  width: 1000px;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.intro .white-overlay .inner-intro .mobile {
  height: 85% !important;
}

.intro .white-overlay .inner-intro .introduction h1 {
  font-size: 36px;
  font-family: "IRANYekan";
  color: #4149D8;
  font-weight: 800;
  margin: 0;
}

.intro .white-overlay .inner-intro .introduction h2 {
  font-size: 16px;
  font-family: "IRANYekan";
  color: #3B3B3B;
  font-weight: 500;
  margin: 0;
}

.intro .white-overlay .inner-intro .introduction h5 {
  font-size: 15px;
  font-family: "IRANYekan";
  color: rgba(59, 59, 59, 0.61);
  font-weight: 300;
  margin: 0;
  padding-left: 40px;
  padding-top: 22px;
}

.intro .white-overlay .inner-intro .introduction .dl-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding-top: 30px;
}

.intro .white-overlay .inner-intro .introduction .dl-btns .dl-btn {
  padding: 7px;
  border-radius: 40px;
  background: black;
  -webkit-box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s cubic-bezier(0.17, 0.89, 0.77, 1.36);
  transition: all 0.3s cubic-bezier(0.17, 0.89, 0.77, 1.36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.intro .white-overlay .inner-intro .introduction .dl-btns .dl-btn .icon-box {
  width: 25px;
  height: 25px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.intro .white-overlay .inner-intro .introduction .dl-btns .dl-btn .icon-box img {
  width: 13px;
}

.intro .white-overlay .inner-intro .introduction .dl-btns .dl-btn .title {
  font-size: 11px;
  font-family: "IRANYekan";
  color: white;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 5px;
}

.intro .white-overlay .inner-intro .introduction .dl-btns .dl-btn:last-child {
  margin-right: 15px;
}

.intro .white-overlay .inner-intro .introduction .dl-btns .dl-btn:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1000px) {
  .intro .white-overlay .inner-intro {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .intro .white-overlay .inner-intro .mobile {
    width: 60%;
    margin-top: 50px;
    height: auto !important;
    display: none;
  }
  .intro .white-overlay .inner-intro .introduction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .intro .white-overlay .inner-intro .introduction h5 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .intro .white-overlay .inner-intro .introduction .dl-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .intro .white-overlay .inner-intro .introduction .dl-btns .dl-btn {
    margin-right: 0;
    margin-top: 10px;
  }
  .intro .white-overlay .inner-intro .introduction .dl-btns .dl-btn:last-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .intro {
    height: auto;
    padding-top: 100px;
  }
  .intro .white-overlay .read-more {
    margin-top: 50px;
  }
}

.app-steps {
  width: 1100px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.app-steps .app-step {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.app-steps .app-step .num {
  font-size: 13px;
  font-family: "IRANYekan";
  color: #4149D8;
  font-weight: 800;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 40px;
  height: 40px;
  border-radius: 23px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 11px rgba(65, 73, 216, 0.17);
          box-shadow: 0px 5px 11px rgba(65, 73, 216, 0.17);
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
}

.app-steps .app-step img {
  width: 100%;
  height: auto;
}

.app-steps .app-step .title {
  text-align: center;
  font-size: 17px;
  font-family: "IRANYekan";
  color: #4149D8;
  font-weight: 800;
  padding-top: 10px;
}

.app-steps .app-step .desc {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 17px;
  font-size: 12px;
  font-family: "IRANYekan";
  color: rgba(59, 59, 59, 0.61);
  font-weight: 500;
}

@media only screen and (max-width: 1000px) {
  .app-steps {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .app-steps .app-step {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .app-steps .app-step:first-child {
    margin-top: 0;
  }
}

.benefits {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 130px;
  padding-bottom: 30px;
}

.benefits .title-box {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.benefits .title-box img {
  width: 20px;
}

.benefits .title-box .title {
  padding-right: 10px;
  font-size: 17px;
  font-family: "IRANYekan";
  color: #3B3B3B;
  font-weight: 800;
}

.benefits .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 80px;
}

.benefits .items .spacer {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.benefits .items .benefit {
  position: relative;
  width: 20%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.benefits .items .benefit img {
  height: 80%;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  opacity: 1;
  -webkit-transition: ease all .2s .2s;
  transition: ease all .2s .2s;
}

.benefits .items .benefit .title {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-family: "IRANYekan";
  color: #3B3B3B;
  font-weight: 500;
  opacity: 0;
  -webkit-transition: ease all .2s .2s;
  transition: ease all .2s .2s;
}

.benefits .items .benefit:hover img {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: .5;
  -webkit-transition: ease all .2s;
  transition: ease all .2s;
}

.benefits .items .benefit:hover .title {
  opacity: 1;
  -webkit-transition: ease all .3s .2s;
  transition: ease all .3s .2s;
}

@media only screen and (max-width: 1000px) {
  .benefits {
    width: 100%;
  }
  .benefits .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .benefits .items .benefit {
    padding-bottom: 80px;
    width: 100%;
  }
  .benefits .items .benefit .title {
    opacity: 1;
    padding-top: 40px;
  }
}

.subscribe {
  width: 100%;
  background: #4149D8;
  margin-top: 150px;
}

.inner {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;
  background: black;
}

footer .inner {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .logo-box {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .logo-box .logo {
  height: 40px;
}

footer .social {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .social a {
  padding-right: 15px;
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
}

footer .social a img {
  height: 25px;
}

footer .social a:first-child {
  padding-right: 0px;
}

footer .social a:hover {
  opacity: .6;
}

footer .cr {
  width: 35%;
  text-align: left;
  direction: ltr;
  font-size: 11px;
  font-family: "IRANYekan";
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

@media only screen and (max-width: 1000px) {
  footer .social, footer .logo-box, footer .cr {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    padding-top: 10px;
  }
  footer .inner, .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */