@font-face {
    font-family: 'Kalameh';
    src: url('Kalameh-Black.eot');
    src: url('Kalameh-Black.eot?#iefix') format('embedded-opentype'),
        url('Kalameh-Black.woff2') format('woff2'),
        url('Kalameh-Black.woff') format('woff'),
        url('Kalameh-Black.svg#Kalameh-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Kalameh';
    src: url('Kalameh-Bold.eot');
    src: url('Kalameh-Bold.eot?#iefix') format('embedded-opentype'),
        url('Kalameh-Bold.woff2') format('woff2'),
        url('Kalameh-Bold.woff') format('woff'),
        url('Kalameh-Bold.svg#Kalameh-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IRANYekan';
    src: url('IRANYekan-ExtraBold.eot');
    src: url('IRANYekan-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('IRANYekan-ExtraBold.woff2') format('woff2'),
        url('IRANYekan-ExtraBold.woff') format('woff'),
        url('IRANYekan-ExtraBold.svg#IRANYekan-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'IRANYekan';
    src: url('IRANYekan-Bold.eot');
    src: url('IRANYekan-Bold.eot?#iefix') format('embedded-opentype'),
        url('IRANYekan-Bold.woff2') format('woff2'),
        url('IRANYekan-Bold.woff') format('woff'),
        url('IRANYekan-Bold.svg#IRANYekan-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

