body {
  margin: 0;
  background: black !important;
  direction: rtl !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

header .logo {
  height: 55px;
  margin-left: 35px;
  margin-right: 35px;
}

header .responsive-menu {
  display: none;
  float: right;
}

header .menu-side {
  display: block;
}

header .menu-side li {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

header .menu-side li img {
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

header .menu-side li .title {
  font-family: 'Kalameh-Bold';
  font-size: 1.3rem;
  color: #FFFFFF;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
}

header .menu-side li:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

header .menu-side li:hover .title {
  color: #00D4E4;
}

header .menu-side li:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.head-line-spacer {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 212, 228, 0)), color-stop(#00D4E4), to(rgba(0, 212, 228, 0)));
  background: linear-gradient(to right, rgba(0, 212, 228, 0), #00D4E4, rgba(0, 212, 228, 0));
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
}

.intro {
  width: 100%;
  background-image: url("./img/parking.png");
  background-size: cover;
  height: 650px;
  background-position: top center;
}

.intro h1 {
  font-family: 'Kalameh-Black';
  margin-top: 0;
  padding-top: 100px;
  font-size: 2.5rem;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0 1px 8px #00D4E4;
}

.intro .intro-description {
  font-family: 'IRANYekan-ExtraBold';
  font-size: 1rem;
  color: #FFFFFF;
  padding-top: 20px;
  text-align: center;
}

.intro .download-part {
  margin-top: 85px;
}

.intro .use-web-btn {
  background: rgba(0, 212, 228, 0.5);
  border: 1px solid #00D4E4;
  padding: 8px 15px;
  border-radius: 21.5px;
  font-family: 'IRANYekan-Bold';
  font-size: .8rem;
  color: #0AEEFF;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
  text-decoration: none;
}

.intro .use-web-desc {
  font-family: 'IRANYekan-Bold';
  font-size: .6rem;
  color: #FFFFFF;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: table;
  margin-top: 15px;
}

.intro .use-web-desc img {
  margin-left: 5px;
}

@media only screen and (max-width: 950px) {
  header {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px;
  }
  header .logo {
    height: 35px;
    float: right;
    margin: 0;
    margin-left: 10px;
  }
  header .responsive-menu {
    display: inline-block;
  }
  header .responsive-menu i {
    color: #00D4E4;
    font-size: 1.2rem;
    padding-right: 10px;
  }
  header .menu-side {
    display: none !important;
  }
  .head-line-spacer {
    background: #00D4E4;
  }
  .intro h1 {
    font-size: 1.8rem;
    padding-top: 50px;
  }
  .intro .intro-description {
    font-size: .9rem;
  }
  .intro .download-part {
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro .download-part a {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}

a.dl-button {
  border-radius: 29.5px;
  padding: 11px 15px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

a.dl-button img {
  height: 23px;
  margin-left: 10px;
}

a.dl-button .title {
  font-family: 'IRANYekan-ExtraBold';
  font-size: 11px;
  color: #FFFFFF;
  text-align: right;
}

a.dl-button:hover {
  text-decoration: none;
}

.transform-scale {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
}

.transform-scale:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.transform-scale:active {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.green-button {
  background: #3ED135;
  -webkit-box-shadow: 0 8px 17px 0 rgba(62, 209, 53, 0.57);
          box-shadow: 0 8px 17px 0 rgba(62, 209, 53, 0.57);
}

.blue-button {
  background: #0B81FF;
  -webkit-box-shadow: 0 8px 17px 0 rgba(11, 129, 255, 0.57);
          box-shadow: 0 8px 17px 0 rgba(11, 129, 255, 0.57);
}

.app-steps {
  width: calc(100% - 50px);
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.app-steps .left-arrow {
  width: 3%;
  height: 25px;
  background-image: url("./img/icons/left-arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.app-steps .app-step {
  width: 30%;
}

.app-steps .app-step .title {
  font-family: 'Kalameh-Bold';
  font-size: 1.2rem;
  position: relative;
  color: #FFFFFF;
  letter-spacing: -0.01px;
  text-align: center;
  background: #8B3CFF;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 13px;
  margin-bottom: 15px;
}

.app-steps .app-step .title::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 12px;
  left: 0;
  background-image: url("./img/icons/down-arrow.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.app-steps .app-step img {
  width: 100%;
  height: auto;
}

.benefits {
  padding-top: 150px;
}

.benefits .title-text {
  font-family: 'Kalameh-Bold';
  font-size: 1.8rem;
  padding-bottom: 15px;
  color: #FFFFFF;
  text-align: center;
}

.benefits .title-bg {
  width: 250px;
  height: 55px;
  background-image: url("./img/blue-neon.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.benefits .boxes {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.benefits .boxes .item {
  border-radius: 20px;
  padding: 23px;
  width: 170px;
  height: 170px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.benefits .boxes .item img {
  width: 40%;
  margin-top: 10px;
}

.benefits .boxes .item .title {
  padding-top: 23px;
  font-family: 'Kalameh-Bold';
  font-size: 1rem;
  color: #FFFFFF;
  text-align: center;
}

footer {
  width: 100%;
  min-height: 80px;
}

footer a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2rem;
  color: white;
}

footer a:hover {
  color: #00D4E4;
}
/*# sourceMappingURL=style.css.map */